{% extends "base_generic.html" %}
{% load bootstrap %}

{% block content %}
    <h1>Занятия</h1>

    <div class="container">

        <form method="GET" style="position:absolute; top:0px; right:200px">
            <h4>Примените фильтр для поиска</h4>
            {{ filter.form|bootstrap }}
            <button type="submit" class="btn btn-primary">Найти</button>
        </form>

        {% if lesson_list %}
            {% if filter.qs %}
            <ul>

              {% for lesson in filter.qs %}
              <li>
                <a href="{{ lesson.get_absolute_url }}">{{ lesson.title }}</a>
                <p>{{ lesson.course_id.name }}, {{ lesson.teacher_id.name }}</p>
              </li>
              {% endfor %}

            </ul>
            {% else %}
                <p>К сожалению, такого занятия нет...</p>
            {% endif %}
        {% else %}
          <p>Занятий пока нет...</p>
        {% endif %}
    </div>
{% endblock %}